@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-brand-cream;
}

.nuxt-content {
  p:not(:last-child):not([class*="mb-"]),
  ul:not(:last-child):not([class*="mb-"]) {
    @apply mb-4;
  }
  blockquote {
    @apply px-4 py-4 mb-4 border-l-4 border-gray-200;
  }
  ul {
    @apply list-disc pl-4;
    li {
      @apply mb-2;
    }
  }
}

.btn {
  @apply border border-brand-blue-400 text-brand-blue-400 rounded-md px-3 py-1;
  &:hover {
    @apply bg-brand-blue-400;
  }

  &.is-primary {
    @apply border-brand-pink bg-brand-pink text-dark;
    &:hover {
      @apply bg-white;
    }
  }
}

// COLLECTIONS


.collection {
  @apply bg-brand-cream;
  
  .collection__header {
    @apply p-10 text-center mb-5 transition-all;
    h1 {
      @apply text-4xl font-bold;
    }
  }
  
  &.slug {
    .collection__header {
      @apply p-2 text-left mb-0;
      h1 {
        @apply text-lg;
      }
    }
  }

  &.collection-resources {
    .collection__header {
      @apply bg-brand-blue-400;
    }
  }
  &.collection-philosophies {
    .collection__header {
      @apply bg-brand-green-500;
    }
  }
}